# OctoFit Tracker Frontend Environment Variables

# Set this to your CodeSpace name for the React app to connect to the backend API
# Example: If your codespace is "mystifying-doodle-vx456", set:
# REACT_APP_CODESPACE_NAME=mystifying-doodle-vx456

# The app will construct API URLs as:
# https://${REACT_APP_CODESPACE_NAME}-8000.app.github.dev/api/[endpoint]/

# To find your codespace name, run:
# echo $CODESPACE_NAME
# or check the URL of your codespace
